.board {
	margin: 0 auto;
	table-layout: fixed;
	border-spacing: 0;
	padding: 0;
}
.board button{
	width: 40px;
	height: 40px;
}

h1 {
	color: #25A6E1;
	font-family: 'Trocchi', serif;
	font-size: 45px;
	font-weight: bold;
	line-height: 48px;
	width: 270px;
	margin: 45px auto 15px;
}

.bombs-timer{
	width: 360px;
	margin-left: 38%;
}

#bombs{
	display: inline-block;
	float: left;
	margin: 10px auto;
	font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    font-size: 28px;
	color: #CC0000;
    text-align: left;
    text-shadow: 0 0 5px #E06666;
}
#time{
	display: inline-block;
	float: right;
	width: 50px;
    margin: 10px auto;
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    font-size: 28px;
	color: #CC0000;
    text-align: left;
    text-shadow: 0 0 5px #E06666;
}

[data-clicked = "true"]{
	background-color: default;
}

[data-clicked = "false"]{
	background-color: lightgrey;
}

[data-clicked = "flag"]{
	background-image: url("flag.gif");
}

.difficulty{
	width: 200px;
	margin: 5px auto;
}

.difficulty button{
	width: 100%;
	background: #25A6E1;
	background: -moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
	background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
	padding:8px 13px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:17px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #1A87B9
}

button.newGame{
	width: 120px;
	margin: 20px 5px;
	background: #25A6E1;
	background: -moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
	background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
	padding:8px 13px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:17px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #1A87B9
}

#bombAnimation{
    background-color: black;
    //-webkit-transition: all 1s ease-in-out;
	//-moz-transition: all 1s ease-in-out;
	//-o-transition: all 1s ease-in-out;
	//-ms-transition: all 1s ease-in-out;
	//transition: all 1s ease-in-out;
	//background-color: red;

	margin: -8px 8px;
	position: absolute;
    height: 20px; width: 20px;
    border-radius: 10px;
}

#won, #lost{
	display: block;
	text-align: center;
	color: #B80000;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 64px;
	padding: 70px 30px;
	text-transform: uppercase;
}

table.highscore {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	margin-left: 15px;
}
table.highscore th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.highscore td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
